/* *{
    box-sizing: border-box;
} */

body{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden;
}

.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}

.indexing {
    list-style-type: none;
    z-index: 2;
}

.header-content{
    z-index: 2;
    font-family: Verdana;
    margin-left: auto;
    margin-right: auto;
}

.input{
    width: 600px;
    border: 3px solid #fff;
    background: transparent;
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
    color: #fff;
  }

::-webkit-input-placeholder {
    color: #fff;
    font-family: Roboto;
    text-transform: uppercase;
}

.close-bttn{
    /* position: absolute; */
    top: 21px;
    right: 50px;
    cursor: pointer;
    color: #fc913a;
    background: #fff;
    border: 0px;
    width: 120px;
    height: 55px;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
  }

.bttn{
    background: #34b3a0;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}
/* .close-btn:hover {
    background-color: #2e251e;
    color: white;
} */
@media(max-width:960px){
    .container{
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

.moreButt{
    float: right;
    background-position: right;
    z-index: 2;
    opacity: 0.8;
    font-size: 0.8rem;
    
    padding: 0.5rem 1rem;
    color: #fc913a;
    background-color: white;
    outline: none;
    border-radius: 50px;

}

.moreButt:hover {
    opacity: 1;
}

#resizeImg {
    height: 200px;
    width: 200px;
}

#buttSide {
    size: 5rem;
    float: right;
}
